@charset "utf-8";
/*
*  一些常见的类名
*/
//====================================分割线====================================//
.hr {
    height: 2px;
    width: 100%;
    display: inline-block;
    background: rgba($gray-600, 0.2);
}
//=====================================position====================================//
$pos: (
    absolute: absolute,
    relative: relative,
    static: static
);
@each $key, $value in $pos {
    .p-#{$key} {
        position: $value;
    }
}
.p-bottom {
    position: absolute;
    bottom: 0;
}

//=====================================小圆点====================================//
$dot: (
    dot-sm: 10px,
    dot: 15px,
    dot-bg: 20px,
    dot-lg: 25px
);
@each $key, $value in $dot {
    .#{$key} {
        width: $value;
        height: $value;
        border-radius: 50%;
        display: inline-block;
    }
}

//=============================align============================================//
$align: (
    baseline: baseline,
    top: top,
    middle: middle,
    text-bottom: text-bottom,
    text-top: text-top
);
@each $pos, $val in $align {
    .align-#{$pos} {
        vertical-align: $val !important;
    }
}
//============================border============================================//
@each $key, $val in $colors {
    .border-#{$key} {
        border: 1px solid $val;
    }
}

.border {
    border: 1px solid rgba($gray-600, 0.5);
}
.border-top {
    border-top: 1px solid rgba($gray-600, 0.5);
}
.border-bottom {
    border-bottom: 1px solid rgba($gray-600, 0.5);
}
.border-left {
    border-left: 1px solid rgba($gray-600, 0.5);
}
.border-right {
    border-right: 1px solid rgba($gray-600, 0.5);
}

.border2 {
    border: 2px solid rgba($gray-600, 0.5);
}
.border-top2 {
    border-top: 2px solid rgba($gray-600, 0.5);
}
.border-bottom2 {
    border-bottom: 2px solid rgba($gray-600, 0.5);
}
.border-left2 {
    border-left: 2px solid rgba($gray-600, 0.5);
}
.border-right2 {
    border-right: 2px solid rgba($gray-600, 0.5);
}
//===========================clearfix============================================//
.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
//============================cursor==============================================//
.cursor-pointer {
    cursor: pointer;
}
//============================float=================================================//
.fl {
    float: left !important;
}
.fr {
    float: right !important;
}

//============================box-shadow==============================================//

.shadow {
    box-shadow: $box-shadow !important;
}
.shadow-sm {
    box-shadow: $box-shadow-sm !important;
}
.shadow-lg {
    box-shadow: $box-shadow-lg !important;
}

//===================================text=====================================//
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-nowrap {
    white-space: nowrap;
}

//===================================沾满整个屏幕============================//
.full-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex-full-screen!important;
}


//====================================圆形头像===================================//
.rounded {
    border-radius: 4px !important;
}
.rounded-top {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.rounded-bottom {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.rounded-left {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.rounded-right {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.rounded-circle {
    border-radius: 50%;
}

//===========================================颜色======================================//
@each $key, $val in $colors {
    .#{$key} {
        color: $val;
    }
}
@each $key, $val in $gray {
    .gray-#{$key} {
        color: $val;
    }
}
@each $key, $val in $theme-colors {
    .#{$key} {
        color: $val;
    }
}

//背景颜色
@each $key, $val in $colors {
    .bg-#{$key} {
        background-color: $val;
    }
}
@each $key, $val in $gray {
    .bg-gray-#{$key} {
        background-color: $val;
    }
}
//============================================文字=========================================//

$font-weights: (
    font-weight-base: $font-weight-base,
    font-weight-light: $font-weight-light,
    font-weight-bold: $font-weight-bold
);
@each $key, $val in $font-weights {
    .#{$key} {
        font-weight: $val;
    }
}

//==========================================字体大小============================================//

$h-size: (
    h1: 3.5rem,
    h2: 3rem,
    h3: 2.5rem,
    h4: 2rem,
    h5: 1.5rem
);
$fonts: (
    font-size-base: $font-size-base,
    font-size-sm: $font-size-sm,
    font-size-xs: $font-size-xs,
    font-size-bg: $font-size-bg,
    font-size-lg: $font-size-lg,
    font-size-ex: $font-size-ex
);
$fonts2: (
    f-base: $font-size-base,
    f-sm: $font-size-sm,
    f-xs: $font-size-xs,
    f-bg: $font-size-bg,
    f-lg: $font-size-lg,
    f-ex: $font-size-ex
);

@each $key, $val in $fonts {
    .#{$key} {
        font-size: $val;
    }
}
@each $key, $val in $fonts2 {
    .#{$key} {
        font-size: $val;
    }
}
@each $key, $val in $h-size {
    .#{$key} {
        font-size: $val;
    }
}
//=========================================去除padding和margin======================================//
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
//=================================display===========================================//
.d-center {
    display: flex;
    align-items: center;
}
.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-inline-block {
    display: inline-block;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.around {
        justify-content: space-around;
    }
    &.between {
        justify-content: space-between;
    }
    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-start {
        justify-content: flex-start;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: flex-end;
    }
    &.justify-around {
        justify-content: space-around;
    }
    &.justify-between {
        justify-content: space-between;
    }

    &.align-start {
        align-items: flex-start;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: flex-end;
    }
    &.align-around {
        align-items: space-around;
    }
    &.align-between {
        align-items: space-between;
    }
}
.d-inline-flex {
    display: inline-flex;
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.around {
        justify-content: space-around;
    }
    &.between {
        justify-content: space-between;
    }
    &.start {
        justify-content: flex-start;
    }
    &.end {
        justify-content: flex-end;
    }
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.justify-content-start {
        justify-content: flex-start;
    }
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-end {
        justify-content: flex-end;
    }
    &.justify-content-around {
        justify-content: space-around;
    }
    &.justify-content-between {
        justify-content: space-between;
    }

    &.align-items-start {
        align-items: flex-start;
    }
    &.align-items-center {
        align-items: center;
    }
    &.align-items-end {
        align-items: flex-end;
    }
    &.align-items-around {
        align-items: space-around;
    }
    &.align-items-between {
        align-items: space-between;
    }
}
.flex1 {
    flex: 1;
}
//======================================文字相关==========================//

//============================常见高度和宽度====================================//
$com-width: (
    "w-10": 10%,
    "w-15": 15%,
    "w-20": 20%,
    "w-25": 25%,
    "w-30": 30%,
    "w-35": 35%,
    "w-40": 40%,
    "w-45": 45%,
    "w-50": 50%,
    "w-55": 55%,
    "w-60": 60%,
    "w-65": 65%,
    "w-70": 70%,
    "w-75": 75%,
    "w-100": 100%
);
$com-height: (
    "h-10": 10%,
    "h-15": 15%,
    "h-20": 20%,
    "h-25": 25%,
    "h-30": 30%,
    "h-35": 35%,
    "h-40": 40%,
    "h-45": 45%,
    "h-50": 50%,
    "h-55": 55%,
    "h-60": 60%,
    "h-65": 65%,
    "h-70": 70%,
    "h-75": 75%,
    "h-80": 80%,
    "h-85": 85%,
    "h-90": 90%,
    "h-95": 95%,
    "h-100": 100%
);
$com-max-width: (
    "mw-5": 5%,
    "mw-10": 10%,
    "mw-15": 15%,
    "mw-20": 20%,
    "mw-25": 25%,
    "mw-30": 30%,
    "mw-35": 35%,
    "mw-40": 40%,
    "mw-45": 45%,
    "mw-50": 50%,
    "mw-55": 55%,
    "mw-60": 60%,
    "mw-65": 65%,
    "mw-70": 70%,
    "mw-75": 75%,
    "mw-80": 80%,
    "mw-85": 85%,
    "mw-90": 90%,
    "mw-95": 95%,
    "mw-100": 100%
);
$com-max-height: (
    "mh-5": 5%,
    "mh-10": 10%,
    "mh-15": 15%,
    "mh-20": 20%,
    "mh-25": 25%,
    "mh-30": 30%,
    "mh-35": 35%,
    "mh-40": 40%,
    "mh-45": 45%,
    "mh-50": 50%,
    "mh-55": 55%,
    "mh-60": 60%,
    "mh-65": 65%,
    "mh-70": 70%,
    "mh-75": 75%,
    "mh-80": 80%,
    "mh-85": 85%,
    "mh-90": 90%,
    "mh-95": 95%,
    "mh-100": 100%
);
$com-vh-height: (
    "vh-5": 5vh,
    "vh-10": 10vh,
    "vh-15": 15vh,
    "vh-20": 20vh,
    "vh-25": 25vh,
    "vh-30": 30vh,
    "vh-35": 35vh,
    "vh-40": 40vh,
    "vh-45": 45vh,
    "vh-50": 50vh,
    "vh-55": 55vh,
    "vh-60": 60vh,
    "vh-65": 65vh,
    "vh-70": 70vh,
    "vh-75": 75vh,
    "vh-80": 80vh,
    "vh-85": 85vh,
    "vh-90": 90vh,
    "vh-95": 95vh,
    "vh-100": 100vh
);

@each $key, $val in $com-width {
    .#{$key} {
        width: $val!important;
    }
}
@each $key, $val in $com-height {
    .#{$key} {
        height: $val!important;
    }
}
@each $key, $val in $com-max-width {
    .#{$key} {
        max-width: $val!important;
    }
}
@each $key, $val in $com-max-height {
    .#{$key} {
        max-height: $val!important;
    }
}
@each $key, $val in $com-max-height {
    .#{$key} {
        max-height: $val!important;
    }
}@each $key, $val in $com-vh-height {
    .#{$key} {
        height: $val!important;
    }
}
//============================常见间距====================================//
//居中
.m-auto {
    margin: auto;
}

$spacer: 48 !default;
$spacers: (
    "0": 0,
    "1": (
        $spacer * 0.25 + px   //12px
    ),
    "2": (
        $spacer * 0.5 + px   //24px
    ),
    "3": (
        $spacer * 0.75 + px    //36px
    ),
    "4": (
        $spacer * 1 + px   //48px
    ),
    "5": (
        $spacer * 1.25 + px   //60px
    )
);
$percent-spacers: (
    5: 5%,
    10: 10%,
    15: 15%,
);

@each $key, $val2 in $spacers {
    .mt-#{$key} {
        margin-top: $val2;
    }
    .ml-#{$key} {
        margin-left: $val2;
    }
    .mr-#{$key} {
        margin-right: $val2;
    }
    .mb-#{$key} {
        margin-bottom: $val2;
    }
    .mx-#{$key} {
        margin-left: $val2;
        margin-right: $val2;
    }
    .my-#{$key} {
        margin-top: $val2;
        margin-bottom: $val2;
    }

    .pt-#{$key} {
        padding-top: $val2;
    }
    .pl-#{$key} {
        padding-left: $val2;
    }
    .pr-#{$key} {
        padding-right: $val2;
    }
    .pb-#{$key} {
        padding-bottom: $val2;
    }
    .px-#{$key} {
        padding-left: $val2;
        padding-right: $val2;
    }
    .py-#{$key} {
        padding-top: $val2;
        padding-bottom: $val2;
    }
}
//扩展 vw 边距
@each $key, $val2 in $percent-spacers {
    .mtp-#{$key} {
        margin-top: $val2;
    }
    .mlp-#{$key} {
        margin-left: $val2;
    }
    .mrp-#{$key} {
        margin-right: $val2;
    }
    .mbp-#{$key} {
        margin-bottom: $val2;
    }
    .mxp-#{$key} {
        margin-left: $val2;
        margin-right: $val2;
    } 
    .myp-#{$key} {
        margin-top: $val2;
        margin-bottom: $val2;
    }

    .ptp-#{$key} {
        padding-top: $val2;
    }
    .plp-#{$key} {
        padding-left: $val2;
    }
    .prp-#{$key} {
        padding-right: $val2;
    }
    .pbp-#{$key} {
        padding-bottom: $val2;
    }
    .pxp-#{$key} {
        padding-left: $val2;
        padding-right: $val2;
    }
    .pyp-#{$key} {
        padding-top: $val2;
        padding-bottom: $val2;
    }
}


//==============================border-radius=================//

@each $key, $val in $border-radius {
    .#{$key} {
        border-radius: $val;
    }
}

//=====================================常见hover效果====================================//
.hover-scale {
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1, 1.1);
    }
}
.noMsg {
    height: 100%;
    width: 100%;
    font-size: 14px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
//=====================================常见旋转效果====================================//
.rotate-45{
    transform: rotate(45deg);
    transition: transform .3s;
}
.rotate-90{
    transform: rotate(90deg);
    transition: transform .3s;
}
.rotate-180{
    transform: rotate(180deg);
    transition: transform .3s;
}